/* STANDARD CSS */
/* ---------------------------------------------------------------------------- */

:host {
    display: block;
}

.main-body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 190, 187);
    gap: 5%;
}

.background {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(140, 192, 196);
    height: 100%;
    width: 50%;
    border-radius:3%;
    align-items: center;
}

#title {
    align-self: center;
    color: white;
    animation: title-loading 2s;
}

#title-underline {
    background-color: white;
    width: 70%;
    height: 0.5%;
    animation: title-underline-loading 2s;
}

#description {
   color: white;
   width: 70%;
}

#survey-form {
    width: 70%;
    height: 100%;
}
.checkbox-label,
label {
    color: white;
    transition: ease-in-out 0.5s;
}

#name,
#email,
#age,
#dropdown {
    width: 100%;
    margin-bottom: 5%;
    animation: title-underline-loading 2s;
}

#radio {
    width: 100%;
    margin-bottom: 5%
}

#commentary-area {
    width: 100%;
    height: 15%;
    margin-top: 5%;
}

#recommend-camp-yes,
#recommend-camp-no,
#radio-label,
.checkbox{
    animation: fade-appear 2s;
}

#button-section {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    height: fit-content;
}

#checkbox-label-title{
    display: block;
    margin-top: 5%;
    animation: fade-appear 2s;
}

.button {
    background-color: gray;
    color: white;
    margin-top: 2%;
    width: 30%;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    animation: fade-appear 2s;
}

/* ---------------------------------------------------------------------------- */
/* DARKMODE CSS */
/* ---------------------------------------------------------------------------- */

.background-darkmode {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 50%;
    border-radius:3%;
    align-items: center;
    animation: fade-appear 2s;
    border: 1px solid rgb(255, 255, 255);
    transition: ease-in-out 0.5s;
}

.main-body-darkmode {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 0, 108);
    gap: 5%;
    transition: ease-in-out 0.5s;
}

/* ---------------------------------------------------------------------------- */
/* ENHANCED VIEW CSS */
/* ---------------------------------------------------------------------------- */
.description-enhanced {
    width: 70%;
    background-color: black;
    font-size: x-large;
    transition: ease-in-out 0.5s;
}

.label-enhanced {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: ease-in-out 0.5s;
    background: white;
}

.label-enhanced:hover {
    background: white;
    font-size: xx-large;
}

.input-enhanced {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: ease-in-out 0.5s;
}

.main-body-enhanced {
    position: absolute;
    width: 100%;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 190, 187);
    gap: 5%;
}  

/* ---------------------------------------------------------------------------- */
/* ANIMATIONS CSS */
/* ---------------------------------------------------------------------------- */
@keyframes title-loading {

    0% {
        padding-right: 10%;
        opacity: 0;
    
    }

    100% {
        opacity: 1;
    }
}

@keyframes title-underline-loading {

    0% {
        width: 0;
    
    }

    100% {
        width: 1;
    }
}

@keyframes fade-appear {

    0% {
        opacity: 0;
    
    }

    100% {
        opacity: 1;
    }
}
/* ---------------------------------------------------------------------------- */
